/*---------------------------------------
  WEB & ICON FONTS
---------------------------------------*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/G2uphNnNqGFMHLRsO_72ngLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/HkF_qI1x_noxlxhrhMQYELO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/2HG_tEPiQ4Z6795cGfdivLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}



/*---------------------------------------
  GENERAL STYLES
---------------------------------------*/
body{
	background-color: #fff;
	color: #363636;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
h4{
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
}
strong{font-weight: 700;}


/*---------------------------------------
  HEADER
---------------------------------------*/
header{
	background-color: #363636;
	color: #fff;
}
header.row{margin-bottom: 40px;}
header h1{
	font-size: 24px;
	font-weight: 700;
	line-height: 50px;
}
header h1 a, header h1 a:visited, header h1 a:hover{
	color: #fff;
	text-decoration: none;
}
#search{
	margin-top: 12px;
	text-align: right;
}
#search input[type=submit]{
    background: url('../images/assets/searchBtn.png') no-repeat;
    cursor:pointer;
    width: 23px;
    height: 24px;
    margin-left: 5px;
    border: none;
}


/*---------------------------------------
  FOOTER
---------------------------------------*/
footer{border-top: 1px solid #ccc;}
footer a, footer a:visited{color: #363636;}
footer a:hover{text-decoration: none;}
footer p{
	margin-bottom: -5px;
	color: #363636;
	font-size: 12px;
	text-align: center;
}


/*---------------------------------------
  SIDEBAR STYLES
---------------------------------------*/
#sidebar{margin-bottom: 40px;}
#sidebar h4{padding-top: 5px;}
#sidebar ul{
	margin: 26px 15px 25px 0;
	border-top: 1px solid #ccc;
}
#sidebar ul li{
	border: 1px solid #ccc;
	border-top: 0;
	font-size: 14px;
}
#sidebar ul li.active{background-color: #eee;}
#sidebar ul li:hover{
	background-color: #eee;
	cursor: pointer;
}
#sidebar ul li a, #sidebar ul li a:visited, #sidebar ul li a:hover{
	display: block;
	padding: 12px 0 12px 12px;
	color: #363636;
	text-decoration: none;
}
#sidebar ul li.active a{font-weight: 700;}


/*---------------------------------------
  FILTER STYLES
---------------------------------------*/
#filter{text-align: right;}
#filter h4{display: inline;}
.sel-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}
.sel-container select {
	width: 110px;
	margin-left: 10px;
	padding: 3px 0px 3px 3px;
	background: #fff;
	color: #777;
	border: 1px solid #ccc;
	font-size: 16px;
	outline: none; /* remove focus ring from Webkit */
	-webkit-appearance: none; /* remove the strong OSX influence from Webkit */
}
.sel-container:after {
  content: "▼";
  position: absolute;
  top: 3px; right: 1px; bottom: 3px;
  font-size: 13px;
  padding: 5px 5px 0;
  background: #fff;
  color: #aaa;
  pointer-events: none;
}
.no-pointer-events:after {content: none;}


/*---------------------------------------
  RATING STYLES
---------------------------------------*/
.rating{
	width: 105px;
	height: 40px;
	padding: 2px 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;	
	margin: 40px 0;
}
.rating.good{background: transparent url('../images/assets/goodBkg.png') no-repeat top left;}
.rating.average{background: transparent url('../images/assets/averageBkg.png') no-repeat top left;}
.rating.poor{background: transparent url('../images/assets/poorBkg.png') no-repeat top left;}
.rating.unknown{background: transparent url('../images/assets/unknownBkg.png') no-repeat top left;}
.rating span{
	display: block;
	padding-left: 15px;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
}
.rating .rating-text{
	font-weight: 700;
	text-transform: uppercase;
}


/*---------------------------------------
  PRODUCT STYLES
---------------------------------------*/
#product{border-bottom: 1px solid #ccc;}
.product-name{
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
}
#product .product-name{
	font-size: 24px;
	line-height: 32px;
}
.product-name a, .product-name a:visited{
	color: #363636;
	text-decoration: none;
}
.product-name a:hover{text-decoration: underline;}
.product-brand{
	color: #666;
	font-size: 16px;
	font-weight: 400;
}
#product-ingredients, #product-reviews{
	height: 225px;
	margin-bottom: 20px;
	padding: 20px 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;	
	position: relative;
}
#product-ingredients{border-right: 1px solid #ccc;}
#product-ingredients a.button-secondary, #product-reviews a.button-secondary{position: absolute; bottom: 0;}


/*---------------------------------------
  PRODUCT LIST STYLES
---------------------------------------*/
#products{
	border: 1px solid #ccc;
	border-bottom: 0;
	margin-bottom: 50px;
}
#products .row{
	margin: 0px;
	border-bottom: 1px solid #ccc;
}
#products .product{
	min-height: 180px;
	padding: 15px 15px 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;	
	position: relative;
}
#products .product.columns{
	width: 350px !important;
	margin: 0;
}
#products .product.alpha{border-right: 1px solid #ccc;}
#products .rating{
	float: left;
	margin: 40px 0 0 0;
	position: absolute; bottom: 20px; left: 0;
}
#products .product-links{
	float: right;
	position: absolute; bottom: 10px; right: 20px;
	text-align: right;
	font-size: 14px;
}
.product-links p{margin: 11px 0;}
#products .product-links a, #products .product-links a:visited{color: #777;}



/*---------------------------------------
  INGREDIENT PAGE STYLES
---------------------------------------*/
#ingredient{margin-bottom: 50px;}
.ingredient-name{
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
}
.ingredient-function{
	color: #666;
	font-size: 16px;
	font-weight: 400;
}
.ingredient-irr, .ingredient-com{
	float: left;
	margin-right: 40px;
}
.ingredient-irr strong, .ingredient-com strong{margin-right: 6px;}
.ingredient-desc{
	clear: both;
	padding-top: 40px;
	line-height: 22px;
}
#ingredient .rating{margin: 40px 0 10px;}
#ingredient-list{margin-bottom: 40px;}
#ingredient-list ul{
	margin: 0 15px 25px 0;
	border-top: 1px solid #ccc;
}
#ingredient-list ul li{
	border: 1px solid #ccc;
	border-top: 0;
	font-size: 14px;
}
#ingredient-list ul li.active{background-color: #eee;}
#ingredient-list ul li:hover{
	background-color: #eee;
	cursor: pointer;
}
#ingredient-list ul li a, #ingredient-list ul li a:visited, #ingredient-list ul li a:hover{
	display: block;
	padding: 12px 0 12px 12px;
	color: #363636;
	text-decoration: none;
}
#ingredient-list ul li.active a{font-weight: 700;}



/*---------------------------------------
  INGREDIENT LIST STYLES
---------------------------------------*/
#ingredients{
	border: 1px solid #ccc;
	border-bottom: 0;
	margin-bottom: 50px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;	
}
#ingredients .row{
	margin: 0px;
	border-bottom: 1px solid #ccc;
}
#ingredients .ingredient{
	padding: 15px 15px 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;	
}
#ingredients .ingredient{border-right: 1px solid #ccc;}
#ingredients .ingredient.omega{border-right: 0;}
#ingredients .ingredient.column{
	width: 33.33% !important;
	margin: 0;
}
#ingredients .rating{
	float: right;
	margin: 0 -15px 10px 0;
}
#ingredients .ingredient-name{
	width: 50%;
	float: left;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
}
#ingredients a, #ingredients a:visited{
	color: #363636;
	text-decoration: none;
}
#ingredients a:hover{text-decoration: underline;}


/*---------------------------------------
  SKIN TYPE STYLES
---------------------------------------*/
#skinTypes{margin-bottom: 40px;}
#skinTypes h4{padding-top: 5px;}
#skinTypes ul{
	margin: 26px 15px 25px 0;
	border-top: 1px solid #ccc;
}
#skinTypes ul li{
	border: 1px solid #ccc;
	border-top: 0;
	font-size: 14px;
}
#skinTypes ul li.active{background-color: #eee;}
#skinTypes ul li:hover{
	background-color: #eee;
	cursor: pointer;
}
#skinTypes ul li a, #skinTypes ul li a:visited, #skinTypes ul li a:hover{
	display: block;
	padding: 12px 0 12px 12px;
	color: #363636;
	text-decoration: none;
}
#skinTypes ul li.active a{font-weight: 700;}


/*---------------------------------------
  REVIEW STYLES
---------------------------------------*/
#reviews{
	border: 1px solid #ccc;
	border-bottom: 0;
	margin-bottom: 50px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;	
}
#reviews .row{
	margin: 0px;
	border-bottom: 1px solid #ccc;
}
#reviews .review{
	padding: 15px 15px 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;	
}
#reviews .user-name{
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
}
#reviews .user-skin-type{
	color: #666;
	font-size: 16px;
	font-weight: 400;
}
#reviews .review-text{
	padding-top: 10px;
	line-height: 22px;
}


/*---------------------------------------
  MESSAGE STYLES
---------------------------------------*/
#message{
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #e74c3c;
	background-color: #eb847a;
	color: #363636;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}


/*---------------------------------------
  BUTTON STYLES
---------------------------------------*/
a.button, a.button:visited, a.button-secondary, a.button-secondary:visited{
	margin: 15px 15px 15px 0;
	padding: 10px 12px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #363636;
	border: 1px solid #363636;
	display: block;
}
a.button:hover{
	color: #363636;
	background-color: #fff;
}
a.button-secondary, a.button-secondary:visited{
	width: 150px;
	background-color: #858A8F;
	border: 1px solid #858A8F;
}
a.button-secondary:hover{
	color: #858A8F;
	background-color: #fff;
}



/*---------------------------------------
  Design for a width of 768px (tablet)
---------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	/* Product list styles */
	#products .row{
		border-bottom: 0;
		position: static;
	}
	#products .product{
		border-bottom: 1px solid #ccc; 
		position: relative;
	}
	#products .product.columns{width: 556px !important;}
	#products .product.alpha{border-right: 0;}
	#products .product-rating{position: absolute; bottom: 20px;}
	#products .product-links{
		position: absolute; bottom: 10px; right: 20px;
		margin-left: 0;
	}

	/* Ingredient list styles */
	#ingredients h2{word-wrap: break-word}

}



/*-------------------------------------------------
  Design for a width of 480px (mobile landscape)
-------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	/* Search bar styles */
	header h1.eight.columns, header div.eight.columns{width: 50% !important;}

	/* Product list styles */
	#products .row{
		border-bottom: 0;
		position: static;
	}
	#products .product{
		border-bottom: 1px solid #ccc; 
		position: relative;
	}
	#products .product.columns{width: 420px !important;}
	#products .product.alpha{border-right: 0;}
	#products .product-links{
		position: absolute; bottom: 10px; right: 20px;
		margin-left: 0;
	}

	/* Product page styles */
	#product{margin-bottom: 20px;}
	#product-ingredients{border-right: 0;}
	#product-reviews{border-top: 1px solid #ccc;}
	#product-ingredients, #product-reviews{
		height: auto;
		position: static;
	}
	#product-ingredients a.button-secondary, #product-reviews a.button-secondary{
		position: static;
		margin: 20px 0 0;
	}

	/* Ingredient list styles */
	#ingredients .ingredient.column{width: 420px !important;}
	#ingredients .row{border-bottom: 0;}
	#ingredients .ingredient{border-bottom: 1px solid #ccc;}

	/* Ingredient page styles */
	#ingredient-list ul{margin: 20px 15px 0 0;}
}



/*---------------------------------------
  Design for a width of 320px (mobile)
---------------------------------------*/
@media only screen and (max-width: 479px) {
	
	/* Search bar styles */
	#search{
		margin: 10px 0 15px;
		text-align: left;
	}
	#search input[type=submit]{
	    background: url('../images/assets/searchBtn.png') no-repeat;
	    cursor:pointer;
	    width: 23px;
	    height: 24px;
	    margin-left: 5px;
	    border: none;
	}

	/* Product list styles */
	#products .row{
		border-bottom: 0;
		position: static;
	}
	#products .product{
		border-bottom: 1px solid #ccc; 
		position: relative;
	}
	#products .product.columns{width: 300px !important;}
	#products .product.alpha{border-right: 0;}
	#products .product-links{
		position: absolute; bottom: 10px; right: 20px;
		margin-left: 0;
	}

	/* Product page styles */
	#product{margin-bottom: 20px;}
	#product-ingredients{border-right: 0;}
	#product-reviews{border-top: 1px solid #ccc;}
	#product-ingredients, #product-reviews{
		height: auto;
		position: static;
	}
	#product-ingredients a.button-secondary, #product-reviews a.button-secondary{
		position: static;
		margin: 20px 0 0;
	}

	/* Ingredient list styles */
	#ingredients .ingredient.column{width: 300px !important;}
	#ingredients .row{border-bottom: 0;}
	#ingredients .ingredient{border-bottom: 1px solid #ccc;}

	/* Ingredient page styles */
	#ingredient-list ul{margin: 20px 15px 0 0;}
}